# Generated database schemas
schemas/

# Virtual environment
.venv/

/cache/
venv/
ENV/
env/
*.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Build and distribution
build/
dist/
*.egg-info/

# Test and coverage reports
.pytest_cache/
.coverage
htmlcov/

# IDE/Editor configuration
.idea/
.vscode/
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log

assets/